<h4 class='text-center'>Reservas Cerradas para el día de hoy!</h4>
<h5 class='text-center'>Lo sentimos!</h5>
<h5 class='text-center'>Las reservas ya están cerradas para el día de hoy</h5>

<div class='text-center'>
<div class="btn btn-outline-dark">
  <%= link_to 'Volver a nuestra web', root_path, :class => "btn" %>
</div>
</div>
