<% if (@fecha.strftime("%A") == 'Monday') %>
	<h4 class='text-center'>LUNES CERRADO</h4>
	<h5 class='text-center'>Lo sentimos! los esperamos de martes a domingo</h5>
<% else %>
	<h4 class='text-center'>Reservas Cerradas para este día!</h4>
	<h5 class='text-center'>Lo sentimos!</h5>
<% end %>
