<table class="table">
  <tbody>
    <% coleccion.each do |reserva| %>
      <tr>
        <td scope="col"><small><i>A nombre de</i></small></td>
        <td scope="col"><small><i>Contacto</i></small></td>
        <td scope="col"><small><i>Paxs</i></small></td>
        <td scope="col"><small><i>Hora</i></small></td>
      </tr>
      <tr>
        <td><small><%= reserva.anombre %></small></td>
        <td><small><%= reserva.n_contacto %></small></td>
        <td><small><%= reserva.n_personas %></small></td>
        <td><small><%= reserva.hora %></small></td>
    </small>
    <% end %>
  </tbody>
</table>