<h4 class='text-center'>Reserva exitosa!</h4>
Rserva a nombre de: <%= @objeto.anombre %></br>
Fecha: <%= @objeto.fecha.strftime("%d-%m-%Y") %></br>
Hora: <%=@objeto.hora %></br>
<h5 class='text-center'>Nuestro tiempo de espera por reserva es de 20 minutos</h5>
<h5 class='text-center'>Muchas gracias por su preferencia!</h5>
