</br>
<div class='text-center'>
<div class="btn btn-secondary">
  <%= link_to 'MENÚ', '/grupos', :class => "btn" %>
</div>
</br></br>

<div class="btn btn-success">
  <h3>CERRADO POR REMODELACIÖN</h3>
  <h3>MUCHAS GRACIAS POR SU PREFERENCIA</h3>
</br>
  <h3>LOS ESPERAMOS EL PROXIMO 1ro DE MARZO</h3>
</div>
</div>


<h4 class='text-center text-muted'>Nueva Costanera 3832 local 2,</br> Vitacura, Santiago de Chile.</h4>
<h4 class='text-center text-muted'>martes a sábado</br> almuerzos de 13:00 a 15:30, cenas de 19:30 a 22:00</br></br> domingo</br> 13:00 a 16:00</h4>

<div class='text-center'>
<div class="btn btn-success">
  <%#= link_to 'RESERVE AQUÍ', '/reservas/new', :class => "btn" %>
</div>
</div>
</br>

<h4 class='text-center text-muted'>+56 9 9613 0353</h4>
<h4 class='text-center text-muted'>restaurante@lacalma.cl</h4>

<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Portada', size: image_size[:portada]} %>
<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Foot', size: image_size[:foot]} %>


<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'izq'} %>
<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'der'} %>

<%#= render partial: 'home/h_links/partials/link', locals: {texto: 'Prueba'} %>
