</br>
<div class='text-center'>
	<% if @lunes %>
		<h2 class='text-white'>HOY LUNES CERRADO</h2>
	<% end %>
	<div class="btn btn-secondary">
	  <%= link_to 'MENÚ', '/grupos', :class => "btn" %>
	</div>
	<div class="btn btn-success">
	  <%= link_to 'RESERVE AQUÍ', '/reservas/new', :class => "btn" %>
	</div>
</div>
</br></br>

<h4 class='text-center text-muted'>Nueva Costanera 3832 local 2,</br> Vitacura, Santiago de Chile.</h4>
<h4 class='text-center text-muted'>martes a sábado</br> almuerzos de 13:00 a 16:00, cenas de 19:00 a 22:00</br></br> domingo</br> 13:00 a 16:00</h4>

<h4 class='text-center text-muted'>+56 9 9613 0353</h4>
<h4 class='text-center text-muted'>reservas@lacalma.cl</h4>

<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Portada', size: image_size[:portada]} %>
<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Foot', size: image_size[:foot]} %>


<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'izq'} %>
<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'der'} %>

<%#= render partial: 'home/h_links/partials/link', locals: {texto: 'Prueba'} %>
