<% @coleccion['grupos'].each do |grupo|%>
  <h3 class='text-center text-white'><%= grupo.grupo%></h3>

  <table class="table table-dark">
    <!--thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Precio</th>
      </tr>
    </thead-->
    <tbody>

      <% grupo.items.order(:orden).each do |item|  %>
        <tr>
          <td><%= item.item %></td>
          <td class="text-right">$ <%= number_with_precision(item.precio, precision: 0, delimiter: '.') %></td>
        </tr>
      <% end %>

    </tbody>
  </table>  
<% end %>