<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'folder', text: " #{@objeto.grupo}", clr: app_color[:app]} %></h4>
<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'items', a: 'index'} %>
